.component_container--dogDetail {
  /* background-image: url("../../../../public/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(3px);
  height: 100vh; */

  backdrop-filter: blur(3px);
  min-height: 100vh;
}

.dogDetail_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.dogDetail_article {
  display: flex;
  grid-gap: 1rem;
}

.dogDetail_article img {
  max-width: 700px;
  max-height: 100vh;
  height: auto;
  border-radius: 0.5rem;
}

.dogDetail_article .details_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.2rem 1rem 1.2rem;
  background-color: rgba(245, 245, 245, 0.8);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.details_container h2 {
  text-align: center;
}

.details_container p {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.details_container .icon_detail {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 820px) {
  .dogDetail_article {
    flex-direction: column;
  }

  .dogDetail_article .details_container {
    width: auto;
    padding: 0 0.5rem;
  }

  .dogDetail_article img {
    max-width: 100%;
    padding: 0 0.5rem;
  }
}
