.form_container {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.form_createDog {
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 0.9);
  backdrop-filter: blur(5px);
  width: 80%;
  padding: 2rem 0;
  border-radius: 10px;
}

.selectors_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.selectors_container section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_createDog .input_container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.input_container .input_unique,
.form_createDog .input_container select {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.3rem;
  font-size: 1rem;
  height: fit-content;
  width: fit-content;
}

.input_min-max {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.3rem;
  font-size: 1rem;
  height: fit-content;
  width: 60px;
}

.temperaments_container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.temperament_selected {
  background-color: white;
  border-radius: 0.25rem;
  margin: 0.5rem;
  padding: 0.5rem;
  width: fit-content;
  box-shadow: 0px 0px 3px 0px rgba(153, 153, 153, 0.75);
  display: flex;
  align-items: center;
}

.temperament_selected span {
  margin-left: 0.5rem;
  color: rgb(162, 0, 0);
  font-weight: bold;
  cursor: pointer;
}

.form_createDog .btn-submit_container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .form_createDog {
    width: 100%;
  }

  .selectors_container {
    grid-template-columns: 1fr;
  }
}
