.pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.pagination_container button {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.pagination_container button:hover {
  transform: scale(1.3);
}

.pagination_container button:disabled {
  cursor: not-allowed;
}

.pagination_container .text_page {
  font-size: 1.2rem;
  font-weight: 500;
}
